<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<connectionStrings>
		<add name="InvoiceDB"
			 connectionString="Server=localhost;Database=InvoiceDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.serviceModel>

		<services>
			<service name="Invoices.InvoiceWebService" behaviorConfiguration="ServiceBehavior">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="Invoices.IInvoiceWebService" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<bindings>
			<basicHttpBinding>
				<binding maxReceivedMessageSize="10485760"
						 maxBufferSize="10485760">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="1048576"
								  maxArrayLength="1048576" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- Set to false before production deployment -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
								   multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="false" />
	</system.webServer>

</configuration>